/* Add this to your main CSS file */

html, body, .app-container {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.app-container {
    flex: 1;
}

footer {
    padding: 3.2rem;
    text-align: center;
    background-color: var(--btn-color);
    margin-top: auto;
}
